---
layout: archive
---
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Category" }}</h3>
{{ content }}
<div class="site-category">
    <ul class='cat1'>
      <li><a href="/">Home</a></li>
      <li><a href="/">Python</a></li>
      <li><a href="/">Data Science</a></li>
    </ul>
 </div>

<div class ="category">
  <ul>
  {% for category in site.categories %}
    <li>{{ category | first}}({{ category | last | size }})</li>
  {% endfor %}
  </ul>
</div>
{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>


{% include paginator.html %}
